@{
    ViewData["Title"] = "AboutMe";
}

<div class="bg-semitransparent-dark p-3 mt-5">
    <h5>About<span class="additional-line"></span></h5>
    <h3 class="mb-5">Learn more about me</h3>

    <div class="container">
        <div class="row">
            <div class="col-md-auto">
                <img class="img-fluid h-75" src="~/Images/personal_picture.jpg" />
            </div>
            <div class="col col-lg">
                <div>
                    <h3>Consultant / Developer</h3>
                    <p class="font-italic">I've gained skills as a developer, trained in AWS Cloud technologies, Prince2 and I am AEM certified. I've learnt how to handle customers and worked with agile methodology.</p>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-auto">
                            <p><span class="font-weight-bold u-coloured">></span> Location: Bristol, United kingdom</p>
                            <p><span class="font-weight-bold u-coloured">></span> Age: 28</p>
                        </div>
                        <div class="col-md-auto">
                            <p><span class="font-weight-bold u-coloured">></span> Degree: BSc Computer Science</p>
                            <p><span class="font-weight-bold u-coloured">></span> Email: michaeljharrison24@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div>
                    <p>
                        An experienced professional in the software development world. I've worked on numerous technologies and learned a wide variety of valuable skills. I've also made this website my current home project, built from scratch using asp.net and bootstrap.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <h5>Skills<span class="additional-line"></span></h5>
    <div class="container">
        <div class="row mt-3">
            <div class="col-6">
                <span>HTML</span><span class="float-right">100%</span>
                <div class="progress">
                    <div class="progress-bar bg-website-blue progress-bar-striped" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="col-6">
                <span>CSS</span><span class="float-right">95%</span>
                <div class="progress">
                    <div class="progress-bar bg-website-blue progress-bar-striped" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-6">
                <span>C#</span><span class="float-right">80%</span>
                <div class="progress">
                    <div class="progress-bar bg-website-blue progress-bar-striped" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="col-6">
                <span>JavaScript</span><span class="float-right">90%</span>
                <div class="progress">
                    <div class="progress-bar bg-website-blue progress-bar-striped" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-6">
                <span>Agile</span><span class="float-right">90%</span>
                <div class="progress">
                    <div class="progress-bar bg-website-blue progress-bar-striped" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <div class="col-6">
                <span>asp.net</span><span class="float-right">80%</span>
                <div class="progress">
                    <div class="progress-bar bg-website-blue progress-bar-striped" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>

    <h5>Interests<span class="additional-line mt-5"></span></h5>
    <div class="container">
        <div class="row">
            <div class="col-md bg-semitransparent-dark mr-2 p-3">
                <div class="centralIcons"><i class="icon-sport mr-3"></i> Software Development</div>
            </div>
            <div class="col-md bg-semitransparent-dark mr-2 p-3">
                <div class="centralIcons"><i class="icon-sport mr-3"></i> Swedish</div>
            </div>
            <div class="col-md bg-semitransparent-dark mr-2 p-3">
                <div class="centralIcons"><i class="icon-sport mr-3"></i> Motorcycles</div>
            </div>
            <div class="col-md bg-semitransparent-dark p-3">
                <div class="centralIcons"><i class="icon-sport mr-3"></i> Baking & Cooking</div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md bg-semitransparent-dark mr-2 p-3">
                <div class="centralIcons"><i class="icon-sport mr-3"></i> Sport</div>
            </div>
            <div class="col-md bg-semitransparent-dark mr-2 p-3">
                <div class="centralIcons"><i class="icon-sport mr-3"></i> Bouldering</div>
            </div>
            <div class="col-md bg-semitransparent-dark mr-2 p-3">
                <div class="centralIcons"><i class="icon-sport mr-3"></i> Bubble Tea</div>
            </div>
            <div class="col-md bg-semitransparent-dark p-3">
                <div class="centralIcons"><i class="icon-sport mr-3"></i> Technology</div>
            </div>
        </div>
    </div>
</div>

