@{
    ViewData["Title"] = "DogGame";
}

<h1>DogGame</h1>
<h5>This is a game about dogs.</h5>
<br />

<div>
    <div>Balls: </div>
    <div>Bones: </div>
    <div>Dog Houses: </div>
</div>

<br />
<div>
    <span class="btn-group-lg">
        <button class="btn-primary">Dig Bones</button>
        <button class="btn-primary">Dog House</button>
    </span>
</div>
