@{
    ViewData["Title"] = "DogGame";
}

<h1>DogGame</h1>
<h5>This is a game.</h5>
<br />

<div>
    <app-root></app-root>
</div>

<script src="/angular/runtime.js" defer></script>
<script src="/angular/polyfills.js" defer></script>
<script src="/angular/styles.js" defer></script>
<script src="/angular/vendor.js" defer></script>
<script src="/angular/main.js" defer></script>